BasedOnStyle: LLVM
---
Language: Cpp
AlwaysBreakTemplateDeclarations: Yes
AllowShortFunctionsOnASingleLine: Empty
IncludeCategories:
  - Regex:           '^((<|")(mob))'
    Priority:        1

IncludeBlocks: Regroup
